.timeline3-container {
  height: 435px;
  z-index: 100;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
}
.timeline3-max-width {
  gap: 0;
  width: 100%;
  height: 411px;
  display: flex;
  position: relative;
  max-width: 1400px;
  align-self: center;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.timeline3-container01 {
  gap: 0;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: center;
  background-color: var(--dl-color-sarah-e6f5f9);
}
.timeline3-text {
  height: 100%;
  font-size: 32px;
  text-align: center;
  font-family: "Playfair Display";
}
.timeline3-timeline-container {
  width: 100%;
  height: 147px;
  display: flex;
  align-self: center;
  align-items: flex-end;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: center;
}
.timeline3-step1 {
  width: 10%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline3-container02 {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.timeline3-link {
  display: contents;
}
.timeline3-image {
  width: 100%;
  height: 90px;
  object-fit: cover;
  transition: 0.3s;
  border-color: var(--dl-color-gray-black);
  border-style: outset;
  border-width: 0px;
  text-decoration: none;
}
.timeline3-image:hover {
  box-shadow: 5px 5px 10px 10px #d4d4d4;
  border-color: var(--dl-color-gray-black);
  border-style: dotted;
  border-width: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.timeline3-step2 {
  width: 10%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline3-container03 {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.timeline3-text01 {
  width: 100%;
  text-align: center;
}
.timeline3-text02 {
  font-size: 22px;
}
.timeline3-step3 {
  width: 10%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline3-container04 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.timeline3-link1 {
  display: contents;
}
.timeline3-image1 {
  width: 45%;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}
.timeline3-image1:hover {
  box-shadow: 5px 5px 10px 10px #d4d4d4;
}
.timeline3-step4 {
  width: 10%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline3-container05 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: 171px;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.timeline3-text03 {
  width: 100%;
  text-align: center;
}
.timeline3-text04 {
  font-size: 22px;
}
.timeline3-step5 {
  width: 10%;
  height: auto;
  display: flex;
  position: relative;
  align-self: flex-end;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline3-container06 {
  gap: var(--dl-space-space-halfunit);
  width: 139px;
  height: 190px;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.timeline3-link2 {
  display: contents;
}
.timeline3-image2 {
  flex: 0;
  width: 65%;
  height: auto;
  align-self: center;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}
.timeline3-image2:hover {
  box-shadow: 5px 5px 10px 10px #d4d4d4;
}
.timeline3-step6 {
  width: 10%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline3-container07 {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.timeline3-text05 {
  width: 100%;
  text-align: center;
}
.timeline3-text06 {
  font-size: 22px;
}
.timeline3-step7 {
  width: 10%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline3-container08 {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.timeline3-link3 {
  display: contents;
}
.timeline3-image3 {
  width: 95%;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}
.timeline3-image3:hover {
  box-shadow: 5px 5px 10px 10px #d4d4d4;
}
.timeline3-timeline-container1 {
  width: 100%;
  height: 142px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.timeline3-step11 {
  width: 10%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline3-container09 {
  gap: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.timeline3-progress0 {
  flex: 1;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline3-container10 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline3-progress001 {
  flex: 1;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline3-container11 {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.timeline3-text07 {
  font-size: 22px;
}
.timeline3-text08 {
  width: 100%;
  text-align: center;
}
.timeline3-step21 {
  width: 10%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline3-container12 {
  gap: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.timeline3-progress002 {
  flex: 1;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline3-container13 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline3-progress003 {
  flex: 1;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline3-container14 {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.timeline3-link4 {
  display: contents;
}
.timeline3-image4 {
  width: 72%;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}
.timeline3-image4:hover {
  box-shadow: 5px 5px 10px 10px #d4d4d4;
}
.timeline3-step31 {
  width: 10%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline3-container15 {
  gap: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.timeline3-progress004 {
  flex: 1;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline3-container16 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline3-progress005 {
  flex: 1;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline3-container17 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.timeline3-text09 {
  font-size: 22px;
}
.timeline3-text10 {
  width: 100%;
  text-align: center;
}
.timeline3-step41 {
  width: 10%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline3-container18 {
  gap: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.timeline3-progress006 {
  flex: 1;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline3-container19 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline3-progress007 {
  flex: 1;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline3-container20 {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.timeline3-link5 {
  display: contents;
}
.timeline3-image5 {
  width: 65%;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}
.timeline3-image5:hover {
  box-shadow: 5px 5px 10px 10px #d4d4d4;
}
.timeline3-step51 {
  width: 10%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline3-container21 {
  gap: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.timeline3-progress008 {
  flex: 1;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline3-container22 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline3-progress009 {
  flex: 1;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline3-container23 {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.timeline3-text11 {
  font-size: 22px;
}
.timeline3-text12 {
  width: 100%;
  text-align: center;
}
.timeline3-step61 {
  width: 10%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline3-container24 {
  gap: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.timeline3-progress010 {
  flex: 1;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline3-container25 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline3-progress011 {
  flex: 1;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline3-container26 {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.timeline3-link6 {
  display: contents;
}
.timeline3-image6 {
  width: 65%;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}
.timeline3-image6:hover {
  box-shadow: 5px 5px 10px 10px #d4d4d4;
}
.timeline3-step71 {
  width: 10%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline3-container27 {
  gap: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.timeline3-progress012 {
  flex: 1;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline3-container28 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline3-progress013 {
  flex: 1;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline3-container29 {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.timeline3-text13 {
  font-size: 22px;
}
.timeline3-text14 {
  width: 100%;
  text-align: center;
}
@media(max-width: 767px) {
  .timeline3-timeline-container {
    flex-direction: column;
  }
  .timeline3-step1 {
    height: auto;
    align-items: flex-start;
    flex-direction: row;
  }
  .timeline3-container02 {
    height: auto;
    align-items: flex-start;
    padding-top: 0px;
    padding-left: 32px;
    padding-bottom: 0px;
  }
  .timeline3-step2 {
    height: auto;
    align-items: flex-start;
    flex-direction: row;
  }
  .timeline3-container03 {
    height: auto;
    align-items: flex-start;
    padding-top: 0px;
    padding-left: 32px;
    padding-bottom: 0px;
  }
  .timeline3-text01 {
    text-align: left;
  }
  .timeline3-step3 {
    height: auto;
    align-items: flex-start;
    flex-direction: row;
  }
  .timeline3-container04 {
    height: auto;
    align-items: flex-start;
    padding-top: 0px;
    padding-left: 32px;
    padding-bottom: 0px;
  }
  .timeline3-step4 {
    height: auto;
    align-items: flex-start;
    flex-direction: row;
  }
  .timeline3-container05 {
    height: auto;
    align-items: flex-start;
    padding-top: 0px;
    padding-left: 32px;
    padding-bottom: 0px;
  }
  .timeline3-text03 {
    text-align: left;
  }
  .timeline3-step5 {
    height: auto;
    align-items: flex-start;
    flex-direction: row;
  }
  .timeline3-container06 {
    height: auto;
    align-items: flex-start;
    padding-top: 0px;
    padding-left: 32px;
    padding-bottom: 0px;
  }
  .timeline3-step6 {
    height: auto;
    align-items: flex-start;
    flex-direction: row;
  }
  .timeline3-container07 {
    height: auto;
    align-items: flex-start;
    padding-top: 0px;
    padding-left: 32px;
    padding-bottom: 0px;
  }
  .timeline3-text05 {
    text-align: left;
  }
  .timeline3-step7 {
    height: auto;
    align-items: flex-start;
    flex-direction: row;
  }
  .timeline3-container08 {
    height: auto;
    align-items: flex-start;
    padding-top: 0px;
    padding-left: 32px;
    padding-bottom: 0px;
  }
  .timeline3-timeline-container1 {
    flex-direction: column;
  }
  .timeline3-step11 {
    height: auto;
    align-items: flex-start;
    flex-direction: row;
  }
  .timeline3-container09 {
    top: 0px;
    left: 0px;
    width: auto;
    height: 100%;
    position: absolute;
    flex-direction: column;
  }
  .timeline3-progress0 {
    display: none;
  }
  .timeline3-progress001 {
    height: 100%;
  }
  .timeline3-container11 {
    height: auto;
    align-items: flex-start;
    padding-top: 0px;
    padding-left: 32px;
    padding-bottom: 0px;
  }
  .timeline3-text08 {
    text-align: left;
  }
  .timeline3-step21 {
    height: auto;
    align-items: flex-start;
    flex-direction: row;
  }
  .timeline3-container12 {
    top: 0px;
    left: 0px;
    width: auto;
    height: 100%;
    position: absolute;
    flex-direction: column;
  }
  .timeline3-progress002 {
    display: none;
  }
  .timeline3-progress003 {
    height: 100%;
  }
  .timeline3-container14 {
    height: auto;
    align-items: flex-start;
    padding-top: 0px;
    padding-left: 32px;
    padding-bottom: 0px;
  }
  .timeline3-step31 {
    height: auto;
    align-items: flex-start;
    flex-direction: row;
  }
  .timeline3-container15 {
    top: 0px;
    left: 0px;
    width: auto;
    height: 100%;
    position: absolute;
    flex-direction: column;
  }
  .timeline3-progress004 {
    display: none;
  }
  .timeline3-progress005 {
    height: 100%;
  }
  .timeline3-container17 {
    height: auto;
    align-items: flex-start;
    padding-top: 0px;
    padding-left: 32px;
    padding-bottom: 0px;
  }
  .timeline3-text10 {
    text-align: left;
  }
  .timeline3-step41 {
    height: auto;
    align-items: flex-start;
    flex-direction: row;
  }
  .timeline3-container18 {
    top: 0px;
    left: 0px;
    width: auto;
    height: 100%;
    position: absolute;
    flex-direction: column;
  }
  .timeline3-progress006 {
    display: none;
  }
  .timeline3-progress007 {
    height: 100%;
  }
  .timeline3-container20 {
    height: auto;
    align-items: flex-start;
    padding-top: 0px;
    padding-left: 32px;
    padding-bottom: 0px;
  }
  .timeline3-step51 {
    height: auto;
    align-items: flex-start;
    flex-direction: row;
  }
  .timeline3-container21 {
    top: 0px;
    left: 0px;
    width: auto;
    height: 100%;
    position: absolute;
    flex-direction: column;
  }
  .timeline3-progress008 {
    display: none;
  }
  .timeline3-progress009 {
    height: 100%;
  }
  .timeline3-container23 {
    height: auto;
    align-items: flex-start;
    padding-top: 0px;
    padding-left: 32px;
    padding-bottom: 0px;
  }
  .timeline3-text12 {
    text-align: left;
  }
  .timeline3-step61 {
    height: auto;
    align-items: flex-start;
    flex-direction: row;
  }
  .timeline3-container24 {
    top: 0px;
    left: 0px;
    width: auto;
    height: 100%;
    position: absolute;
    flex-direction: column;
  }
  .timeline3-progress010 {
    display: none;
  }
  .timeline3-progress011 {
    height: 100%;
  }
  .timeline3-container26 {
    height: auto;
    align-items: flex-start;
    padding-top: 0px;
    padding-left: 32px;
    padding-bottom: 0px;
  }
  .timeline3-step71 {
    height: auto;
    align-items: flex-start;
    flex-direction: row;
  }
  .timeline3-container27 {
    top: 0px;
    left: 0px;
    width: auto;
    height: 100%;
    position: absolute;
    flex-direction: column;
  }
  .timeline3-progress012 {
    display: none;
  }
  .timeline3-progress013 {
    height: 100%;
  }
  .timeline3-container29 {
    height: auto;
    align-items: flex-start;
    padding-top: 0px;
    padding-left: 32px;
    padding-bottom: 0px;
  }
  .timeline3-text14 {
    text-align: left;
  }
}

.timeline71-max-width {
  gap: 32px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.timeline71-container1 {
  gap: 32px;
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.timeline71-text {
  text-align: center;
}
.timeline71-timeline-container {
  width: auto;
  height: 322px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.timeline71-step1 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.timeline71-container2 {
  flex: 1;
  left: var(--dl-space-space-halfunit);
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline71-container3 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline71-progress0 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline71-container4 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: 306px;
  display: flex;
  align-items: flex-start;
  padding-left: 48px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline71-text1 {
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
}
.timeline71-container5 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.timeline71-text2 {
  align-self: flex-end;
  text-align: left;
  padding-right: var(--dl-space-space-unit);
}
.timeline71-text3 {
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  font-weight: 600;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.timeline71-icon {
  width: 24px;
  height: 24px;
  align-self: center;
}
.timeline71-text4 {
  font-size: 16px;
  align-self: flex-end;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  padding-bottom: var(--dl-space-space-unit);
}
.timeline71-text5 {
  width: 90%;
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  padding-bottom: 0px;
}
.timeline71-text6 {
  width: 90%;
  font-size: 16px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: var(--dl-space-space-tripleunit);
}
.timeline71-link {
  display: contents;
}
.timeline71-heading2 {
  color: #076caf;
  font-size: 20px;
  font-style: normal;
  font-family: "Playfair Display";
  font-weight: 600;
  text-decoration: none;
}
.timeline71-heading2:hover {
  color: #238bd2;
  font-style: normal;
  font-weight: 600;
  text-decoration: underline       none;
}
.timeline71-content2 {
  font-size: 20px;
}

@media(max-width: 991px) {
  .timeline71-max-width {
    gap: 32px;
  }
}
@media(max-width: 767px) {
  .timeline71-max-width {
    padding: 48px;
    flex-direction: column;
  }
  .timeline71-text2 {
    text-align: left;
  }
}
@media(max-width: 479px) {
  .timeline71-max-width {
    padding: var(--dl-space-space-unit);
  }
}

.content-list2-container {
  width: 100%;
  height: 992px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.content-list2-max-width {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  flex-direction: column;
}
.content-list2-content {
  align-self: stretch;
  align-items: flex-start;
}
.content-list2-li {
  align-items: flex-start;
}
.content-list2-heading1 {
  font-size: 32px;
  align-self: flex-start;
}
.content-list2-ul1 {
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
}
.content-list2-li01 {
  padding-bottom: var(--dl-space-space-tripleunit);
}
.content-list2-heading2 {
  color: #076caf;
  font-size: 20px;
  font-style: normal;
  font-family: "Playfair Display";
  font-weight: 600;
  text-decoration: none;
}
.content-list2-heading2:hover {
  color: #238bd2;
  font-style: normal;
  font-weight: 600;
  text-decoration: underline       none;
}
.content-list2-content2 {
  font-size: 20px;
}
.content-list2-li02 {
  padding-bottom: var(--dl-space-space-tripleunit);
}
.content-list2-heading3 {
  color: #076caf;
  font-size: 20px;
  font-style: normal;
  font-family: "Playfair Display";
  font-weight: 600;
  text-decoration: none;
}
.content-list2-heading3:hover {
  color: #238bd2;
  font-style: normal;
  font-weight: 600;
  text-decoration: underline       none;
}
.content-list2-content3 {
  font-size: 20px;
}
.content-list2-li03 {
  padding-bottom: var(--dl-space-space-tripleunit);
}
.content-list2-heading4 {
  color: #076caf;
  font-size: 20px;
  font-style: normal;
  font-family: "Playfair Display";
  font-weight: 600;
  text-decoration: none;
}
.content-list2-heading4:hover {
  color: #238bd2;
  font-style: normal;
  font-weight: 600;
  text-decoration: underline       none;
}
.content-list2-content4 {
  font-size: 20px;
}
.content-list2-li04 {
  padding-bottom: var(--dl-space-space-tripleunit);
}
.content-list2-heading5 {
  color: #076caf;
  font-size: 20px;
  font-style: normal;
  font-family: "Playfair Display";
  font-weight: 600;
  text-decoration: none;
}
.content-list2-heading5:hover {
  color: #238bd2;
  font-style: normal;
  font-weight: 600;
  text-decoration: underline       none;
}
.content-list2-content5 {
  font-size: 20px;
}
.content-list2-li05 {
  padding-bottom: var(--dl-space-space-tripleunit);
}
.content-list2-heading6 {
  color: #076caf;
  font-size: 20px;
  font-style: normal;
  font-family: "Playfair Display";
  font-weight: 600;
  text-decoration: none;
}
.content-list2-heading6:hover {
  color: #238bd2;
  font-style: normal;
  font-weight: 600;
  text-decoration: underline       none;
}
.content-list2-content6 {
  font-size: 20px;
}
.content-list2-li06 {
  padding-bottom: var(--dl-space-space-tripleunit);
}
.content-list2-heading8 {
  color: #076caf;
  font-size: 20px;
  font-style: normal;
  font-family: "Playfair Display";
  font-weight: 600;
  text-decoration: none;
}
.content-list2-heading8:hover {
  color: #238bd2;
  font-style: normal;
  font-weight: 600;
  text-decoration: underline       none;
}
.content-list2-content8 {
  font-size: 20px;
}
.content-list2-li07 {
  padding-bottom: var(--dl-space-space-tripleunit);
}
.content-list2-heading9 {
  color: #076caf;
  font-size: 20px;
  font-style: normal;
  font-family: "Playfair Display";
  font-weight: 600;
  text-decoration: none;
}
.content-list2-heading9:hover {
  color: #238bd2;
  font-style: normal;
  font-weight: 600;
  text-decoration: underline       none;
}
.content-list2-content9 {
  font-size: 20px;
}
.content-list2-li08 {
  padding-bottom: var(--dl-space-space-tripleunit);
}
.content-list2-heading91 {
  color: #076caf;
  font-size: 20px;
  font-style: normal;
  font-family: "Playfair Display";
  font-weight: 600;
  text-decoration: none;
}
.content-list2-heading91:hover {
  color: #238bd2;
  font-style: normal;
  font-weight: 600;
  text-decoration: underline       none;
}
.content-list2-content91 {
  font-size: 20px;
}
.content-list2-li09 {
  padding-bottom: var(--dl-space-space-tripleunit);
}
.content-list2-heading92 {
  color: #076caf;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Playfair Display";
  font-weight: 600;
  text-decoration: none;
}
.content-list2-heading92:hover {
  color: #238bd2;
  font-style: normal;
  font-weight: 600;
  text-decoration:        none;
}
.content-list2-content92 {
  font-size: 20px;
}
@media(max-width: 767px) {
  .content-list2-ul1 {
    padding-left: 48px;
  }
}
@media(max-width: 479px) {
  .content-list2-ul1 {
    padding-left: 24px;
  }
}

.home2-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home2-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  animation-name: none;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.home2-links-container {
  width: var(--dl-size-size-maxcontent);
  height: 38px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home2-link {
  margin-left: var(--dl-space-space-tripleunit);
  margin-right: var(--dl-space-space-tripleunit);
}
.home2-link01 {
  margin-left: var(--dl-space-space-tripleunit);
  margin-right: var(--dl-space-space-tripleunit);
}
.home2-link02 {
  margin-left: var(--dl-space-space-tripleunit);
  margin-right: var(--dl-space-space-tripleunit);
}
.home2-link03 {
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
}
.home2-link04 {
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
}
.home2-link05 {
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
}
.home2-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.home2-icon {
  width: 36px;
  height: 36px;
}
.home2-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.home2-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.home2-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home2-icon2 {
  width: 24px;
  height: 24px;
}
.home2-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home2-link06 {
  margin-bottom: var(--dl-space-space-unit);
}
.home2-link07 {
  margin-bottom: var(--dl-space-space-unit);
}
.home2-link08 {
  margin-bottom: var(--dl-space-space-unit);
}
.home2-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
}
.home2-hero {
  width: 100%;
  height: 353px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  background-color: #f1f1f1;
}
.home2-hero-text-container {
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home2-heading1 {
  color: #040404;
  font-size: 48px;
  font-family: "Playfair Display";
  font-weight: 900;
  line-height: 1.22;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home2-text {
  color: var(--dl-color-gray-black);
  font-size: 18px;
  font-family: Playfair Display;
  font-weight: 600;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-fiveunits);
  letter-spacing: 2;
  text-transform: none;
  text-decoration: none;
}
.home2-image {
  width: 635px;
  height: 321px;
  object-fit: cover;
}
.home2-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.home2-text1 {
  font-family: "Playfair Display";
  font-weight: 600;
}
@media(max-width: 991px) {
  .home2-heading {
    text-align: center;
  }
  .home2-hero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home2-hero-text-container {
    width: 80%;
    align-items: center;
    margin-bottom: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .home2-navbar {
    position: relative;
  }
  .home2-links-container {
    display: none;
  }
  .home2-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .home2-icon {
    fill: var(--dl-color-gray-white);
  }
}
@media(max-width: 479px) {
  .home2-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .home2-hero-text-container {
    width: 100%;
  }
}
