.cta14-container {
  width: 100%;
  height: 1405px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.cta14-max-width {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  max-width: 1400px;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.cta14-column {
  gap: 24px;
  width: 971px;
  height: 1313px;
  display: flex;
  align-self: center;
  flex-direction: column;
}
.cta14-text {
  font-size: 32px;
}
.cta14-container1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cta14-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cta14-text1 {
  font-size: 22px;
  align-self: center;
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.cta14-container3 {
  width: 100%;
  height: 60%;
  align-self: center;
  border-color: var(--dl-color-gray-black);
  border-style: groove;
  border-width: 2px;
  padding-bottom: var(--dl-space-space-tripleunit);
}
.cta14-container4 {
  display: contents;
}
.cta14-text2 {
  font-size: 22px;
  align-self: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.cta14-container5 {
  width: 100%;
  height: 100%;
  align-self: center;
  border-color: var(--dl-color-gray-black);
  border-style: groove;
  border-width: 2px;
  padding-bottom: var(--dl-space-space-tripleunit);
}
.cta14-container6 {
  display: contents;
}
