.education-mobile-layout226 {
  width: 100%;
  height: 343px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
}
.education-mobile-text {
  font-size: 32px;
  font-family: "Didot-Bold";
  letter-spacing: 1px;
  padding-bottom: var(--dl-space-space-tripleunit);
}
.education-mobile-container {
  width: 100%;
  height: 179px;
  display: flex;
  align-items: flex-start;
}
.education-mobile-column {
  width: 33%;
}
.education-mobile-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.education-mobile-icon {
  width: 24px;
  height: 24px;
}
.education-mobile-over-title3 {
  font-size: 20px;
  font-family: "Didot";
  font-weight: 600;
  letter-spacing: 1px;
}
.education-mobile-title3 {
  font-size: 30px;
  text-align: center;
  font-family: "Didot";
  letter-spacing: 1px;
}
.education-mobile-description3 {
  font-size: 22px;
  text-align: center;
  font-family: "Didot";
  letter-spacing: 1px;
}
.education-mobile-description31 {
  font-size: 20px;
  text-align: center;
  font-family: "Didot";
  letter-spacing: 1px;
}
.education-mobile-description32 {
  font-size: 20px;
  text-align: center;
  font-family: "Didot";
  letter-spacing: 1px;
}
.education-mobile-column1 {
  width: 33%;
  align-items: center;
  padding-right: 0px;
}
.education-mobile-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.education-mobile-icon2 {
  width: 24px;
  height: 24px;
}
.education-mobile-over-title1 {
  font-size: 20px;
  font-family: "Didot";
  font-weight: 600;
}
.education-mobile-title2 {
  font-size: 30px;
  text-align: center;
  font-family: "Didot";
  letter-spacing: 1px;
}
.education-mobile-description2 {
  font-size: 22px;
  text-align: center;
  font-family: "Didot";
  letter-spacing: 1px;
}
.education-mobile-description21 {
  font-size: 20px;
  text-align: center;
  font-family: "Didot";
  letter-spacing: 1px;
}
.education-mobile-column2 {
  width: 33%;
}
.education-mobile-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.education-mobile-icon4 {
  width: 24px;
  height: 24px;
}
.education-mobile-over-title11 {
  font-size: 20px;
  font-family: "Didot";
  font-weight: 600;
  letter-spacing: 1px;
}
.education-mobile-title1 {
  font-size: 30px;
  text-align: center;
  font-family: "Didot";
  letter-spacing: 1px;
}
.education-mobile-description1 {
  width: 100%;
  font-size: 22px;
  text-align: center;
  font-family: "Didot";
  letter-spacing: 1px;
}
.education-mobile-description11 {
  font-size: 20px;
  text-align: center;
  font-family: "Didot";
  letter-spacing: 1px;
}
.education-mobile-root-class-name {
  display: none;
}
@media(max-width: 1600px) {
  .education-mobile-description31 {
    font-size: 20px;
  }
  .education-mobile-description32 {
    font-size: 20px;
  }
  .education-mobile-description21 {
    font-size: 20px;
  }
  .education-mobile-root-class-name {
    display: none;
  }
}
@media(max-width: 1200px) {
  .education-mobile-container {
    width: 1176px;
  }
  .education-mobile-title3 {
    font-size: 26px;
  }
  .education-mobile-description3 {
    font-size: 20px;
  }
  .education-mobile-description31 {
    font-size: 18px;
  }
  .education-mobile-description32 {
    font-size: 18px;
  }
  .education-mobile-title2 {
    font-size: 26px;
  }
  .education-mobile-description2 {
    font-size: 20px;
  }
  .education-mobile-description21 {
    font-size: 18px;
  }
  .education-mobile-title1 {
    font-size: 26px;
  }
  .education-mobile-description1 {
    font-size: 20px;
  }
  .education-mobile-description11 {
    font-size: 18px;
  }
  .education-mobile-root-class-name {
    display: none;
  }
}
@media(max-width: 991px) {
  .education-mobile-layout226 {
    height: 302px;
  }
  .education-mobile-container {
    width: 964px;
    height: 148px;
  }
  .education-mobile-content {
    align-items: center;
  }
  .education-mobile-title3 {
    font-size: 23px;
  }
  .education-mobile-description3 {
    font-size: 16px;
  }
  .education-mobile-description31 {
    font-size: 14px;
  }
  .education-mobile-description32 {
    font-size: 14px;
  }
  .education-mobile-content1 {
    align-items: center;
  }
  .education-mobile-title2 {
    font-size: 23px;
  }
  .education-mobile-description2 {
    font-size: 16px;
  }
  .education-mobile-description21 {
    font-size: 14px;
  }
  .education-mobile-content2 {
    align-items: center;
  }
  .education-mobile-title1 {
    font-size: 23px;
  }
  .education-mobile-description1 {
    font-size: 16px;
  }
  .education-mobile-description11 {
    font-size: 14px;
  }
  .education-mobile-root-class-name {
    display: none;
  }
}
@media(max-width: 767px) {
  .education-mobile-layout226 {
    width: 767px;
    height: 591px;
    align-items: center;
    justify-content: flex-start;
  }
  .education-mobile-container {
    gap: var(--dl-space-space-unit);
    width: 767px;
    height: 459px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .education-mobile-column {
    width: 100%;
    height: 156px;
  }
  .education-mobile-title3 {
    font-size: 20px;
  }
  .education-mobile-description31 {
    font-size: 14px;
  }
  .education-mobile-description32 {
    font-size: 14px;
  }
  .education-mobile-column1 {
    width: 100%;
    height: 130px;
  }
  .education-mobile-title2 {
    font-size: 20px;
  }
  .education-mobile-column2 {
    width: 100%;
    height: 130px;
  }
  .education-mobile-title1 {
    font-size: 20px;
  }
  .education-mobile-root-class-name {
    display: flex;
  }
}
@media(max-width: 479px) {
  .education-mobile-layout226 {
    width: 479px;
    height: 564px;
    margin-bottom: 0px;
  }
  .education-mobile-container {
    width: 289px;
    height: 520px;
    align-self: center;
    flex-direction: column;
  }
  .education-mobile-column {
    width: 100%;
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .education-mobile-over-title3 {
    font-size: 12px;
  }
  .education-mobile-title3 {
    font-size: 20px;
  }
  .education-mobile-description31 {
    font-size: 14px;
  }
  .education-mobile-description32 {
    font-size: 14px;
  }
  .education-mobile-column1 {
    width: 100%;
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .education-mobile-over-title1 {
    font-size: 12px;
  }
  .education-mobile-title2 {
    font-size: 20px;
  }
  .education-mobile-column2 {
    width: 100%;
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .education-mobile-icon4 {
    width: 24x;
    height: 24px;
  }
  .education-mobile-over-title11 {
    font-size: 12px;
  }
  .education-mobile-title1 {
    font-size: 20px;
  }
}
