.education-layout226 {
  width: 100%;
  height: 343px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
}
.education-text {
  font-size: 32px;
  font-family: "Didot-Bold";
  letter-spacing: 1px;
  padding-bottom: var(--dl-space-space-tripleunit);
}
.education-container {
  width: 100%;
  height: 179px;
  display: flex;
  align-items: flex-start;
}
.education-column {
  width: 33%;
}
.education-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.education-icon {
  width: 24px;
  height: 24px;
}
.education-over-title1 {
  font-size: 20px;
  font-family: "Didot";
  font-weight: 600;
  letter-spacing: 1px;
}
.education-title1 {
  font-size: 30px;
  text-align: center;
  font-family: "Didot";
  letter-spacing: 1px;
}
.education-description1 {
  width: 100%;
  font-size: 22px;
  text-align: center;
  font-family: "Didot";
  letter-spacing: 1px;
}
.education-description11 {
  font-size: 20px;
  text-align: center;
  font-family: "Didot";
  letter-spacing: 1px;
}
.education-column1 {
  width: 33%;
  align-items: center;
  padding-right: 0px;
}
.education-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.education-icon2 {
  width: 24px;
  height: 24px;
}
.education-over-title11 {
  font-size: 20px;
  font-family: "Didot";
  font-weight: 600;
}
.education-title2 {
  font-size: 30px;
  text-align: center;
  font-family: "Didot";
  letter-spacing: 1px;
}
.education-description2 {
  font-size: 22px;
  text-align: center;
  font-family: "Didot";
  letter-spacing: 1px;
}
.education-description21 {
  font-size: 20px;
  text-align: center;
  font-family: "Didot";
  letter-spacing: 1px;
}
.education-column2 {
  width: 33%;
}
.education-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.education-icon4 {
  width: 24px;
  height: 24px;
}
.education-over-title3 {
  font-size: 20px;
  font-family: "Didot";
  font-weight: 600;
  letter-spacing: 1px;
}
.education-title3 {
  font-size: 30px;
  text-align: center;
  font-family: "Didot";
  letter-spacing: 1px;
}
.education-description3 {
  font-size: 22px;
  text-align: center;
  font-family: "Didot";
  letter-spacing: 1px;
}
.education-description31 {
  font-size: 20px;
  text-align: center;
  font-family: "Didot";
  letter-spacing: 1px;
}
.education-description32 {
  font-size: 20px;
  text-align: center;
  font-family: "Didot";
  letter-spacing: 1px;
}
@media(max-width: 1600px) {
  .education-description21 {
    font-size: 20px;
  }
  .education-description31 {
    font-size: 20px;
  }
  .education-description32 {
    font-size: 20px;
  }
}
@media(max-width: 1200px) {
  .education-container {
    width: 1176px;
  }
  .education-title1 {
    font-size: 26px;
  }
  .education-description1 {
    font-size: 20px;
  }
  .education-description11 {
    font-size: 18px;
  }
  .education-title2 {
    font-size: 26px;
  }
  .education-description2 {
    font-size: 20px;
  }
  .education-description21 {
    font-size: 18px;
  }
  .education-title3 {
    font-size: 26px;
  }
  .education-description3 {
    font-size: 20px;
  }
  .education-description31 {
    font-size: 18px;
  }
  .education-description32 {
    font-size: 18px;
  }
}
@media(max-width: 991px) {
  .education-layout226 {
    height: 302px;
  }
  .education-container {
    width: 964px;
    height: 148px;
  }
  .education-content {
    align-items: center;
  }
  .education-title1 {
    font-size: 23px;
  }
  .education-description1 {
    font-size: 16px;
  }
  .education-description11 {
    font-size: 14px;
  }
  .education-content1 {
    align-items: center;
  }
  .education-title2 {
    font-size: 23px;
  }
  .education-description2 {
    font-size: 16px;
  }
  .education-description21 {
    font-size: 14px;
  }
  .education-content2 {
    align-items: center;
  }
  .education-title3 {
    font-size: 23px;
  }
  .education-description3 {
    font-size: 16px;
  }
  .education-description31 {
    font-size: 14px;
  }
  .education-description32 {
    font-size: 14px;
  }
}
@media(max-width: 767px) {
  .education-layout226 {
    height: 367px;
  }
  .education-container {
    width: 767px;
    height: 238px;
  }
  .education-title1 {
    font-size: 20px;
  }
  .education-title2 {
    font-size: 20px;
  }
  .education-title3 {
    font-size: 20px;
  }
  .education-description31 {
    font-size: 14px;
  }
  .education-description32 {
    font-size: 14px;
  }
}
@media(max-width: 479px) {
  .education-layout226 {
    height: 415px;
  }
  .education-container {
    width: 455px;
    height: 266px;
  }
  .education-icon {
    width: 24x;
    height: 24px;
  }
  .education-over-title1 {
    font-size: 12px;
  }
  .education-title1 {
    font-size: 20px;
  }
  .education-over-title11 {
    font-size: 12px;
  }
  .education-title2 {
    font-size: 20px;
  }
  .education-over-title3 {
    font-size: 12px;
  }
  .education-title3 {
    font-size: 20px;
  }
  .education-description31 {
    font-size: 14px;
  }
  .education-description32 {
    font-size: 14px;
  }
}
