<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Portfolio Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Arial;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.55;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

        fill: var(--dl-color-gray-black);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./overview.css" rel="stylesheet" />
      <div class="overview-container thq-section-padding">
        <div id="Overview" class="overview-max-width thq-section-max-width">
          <div class="overview-container01"></div>
          <div class="overview-container02">
            <h2 class="overview-text thq-heading-2"><span>Overview</span></h2>
          </div>
          <div class="overview-timeline-container">
            <div class="overview-step1">
              <div class="overview-container03">
                <a
                  href="https://www.samford.edu/"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="overview-link"
                >
                  <img
                    alt="image"
                    src="public/samford-university-logo-vertical.svg"
                    loading="eager"
                    class="overview-image"
                  />
                </a>
              </div>
            </div>
            <div class="overview-step2">
              <div class="overview-container04">
                <span class="overview-text01 thq-body-small">
                  <span>Forensic Technician</span>
                </span>
                <h3 class="overview-text02 thq-heading-3"><span>2016</span></h3>
              </div>
            </div>
            <div class="overview-step3">
              <div class="overview-container05">
                <a
                  href="https://www.ucd.ie/"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="overview-link1"
                >
                  <img
                    alt="image"
                    src="public/ucd_dublin-200w.png"
                    class="overview-image1"
                  />
                </a>
              </div>
            </div>
            <div class="overview-step4">
              <div class="overview-container06">
                <span class="overview-text03 thq-body-small">
                  <span>Began Ph.D.</span>
                </span>
                <h3 class="overview-text04 thq-heading-3"><span>2018</span></h3>
              </div>
            </div>
            <div class="overview-step5">
              <div class="overview-container07">
                <a
                  href="https://www.ox.ac.uk/"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="overview-link2"
                >
                  <img
                    alt="image"
                    src="public/university-of-oxford-logo-1.svg"
                    class="overview-image2"
                  />
                </a>
              </div>
            </div>
            <div class="overview-step6">
              <div class="overview-container08">
                <span class="overview-text05 thq-body-small">
                  <span>Awarded Doctoral degree</span>
                </span>
                <h3 class="overview-text06 thq-heading-3"><span>2022</span></h3>
              </div>
            </div>
            <div class="overview-step7">
              <div class="overview-container09">
                <a
                  href="https://kgu.de/"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="overview-link3"
                >
                  <img
                    alt="image"
                    src="public/unnamed-200h.jpg"
                    class="overview-image3"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="overview-timeline-container1">
            <div class="overview-step11">
              <div class="overview-container10">
                <div class="overview-progress0"></div>
                <div class="overview-container11"></div>
                <div class="overview-progress001"></div>
              </div>
              <div class="overview-container12">
                <h3 class="overview-text07 thq-heading-3"><span>2015</span></h3>
                <span class="overview-text08 thq-body-small">
                  <span>Awarded Bachelor's degree</span>
                </span>
              </div>
            </div>
            <div class="overview-step21">
              <div class="overview-container13">
                <div class="overview-progress002"></div>
                <div class="overview-container14"></div>
                <div class="overview-progress003"></div>
              </div>
              <div class="overview-container15">
                <a
                  href="https://www.tn.gov/tbi.html"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="overview-link4"
                >
                  <img
                    alt="image"
                    src="public/tennessee_bureau_of_investigation_seal-200h.png"
                    class="overview-image4"
                  />
                </a>
              </div>
            </div>
            <div class="overview-step31">
              <div class="overview-container16">
                <div class="overview-progress004"></div>
                <div class="overview-container17"></div>
                <div class="overview-progress005"></div>
              </div>
              <div class="overview-container18">
                <h3 class="overview-text09 thq-heading-3"><span>2017</span></h3>
                <span class="overview-text10 thq-body-small">
                  <span>Awarded Master's Degree</span>
                </span>
              </div>
            </div>
            <div class="overview-step41">
              <div class="overview-container19">
                <div class="overview-progress006"></div>
                <div class="overview-container20"></div>
                <div class="overview-progress007"></div>
              </div>
              <div class="overview-container21">
                <a
                  href="https://www.uv.es/"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="overview-link5"
                >
                  <img
                    alt="image"
                    src="public/screenshot%202024-06-24%20at%2013.25.23-200h.png"
                    class="overview-image5"
                  />
                </a>
              </div>
            </div>
            <div class="overview-step51">
              <div class="overview-container22">
                <div class="overview-progress008"></div>
                <div class="overview-container23"></div>
                <div class="overview-progress009"></div>
              </div>
              <div class="overview-container24">
                <h3 class="overview-text11 thq-heading-3"><span>2020</span></h3>
                <span class="overview-text12 thq-body-small">
                  <span>International Mention</span>
                </span>
              </div>
            </div>
            <div class="overview-step61">
              <div class="overview-container25">
                <div class="overview-progress010"></div>
                <div class="overview-container26"></div>
                <div class="overview-progress011"></div>
              </div>
              <div class="overview-container27">
                <a
                  href="https://www.uv.es/"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="overview-link6"
                >
                  <img
                    alt="image"
                    src="public/screenshot%202024-06-24%20at%2013.25.23-200h.png"
                    class="overview-image6"
                  />
                </a>
              </div>
            </div>
            <div class="overview-step71">
              <div class="overview-container28">
                <div class="overview-progress012"></div>
                <div class="overview-container29"></div>
                <div class="overview-progress013"></div>
              </div>
              <div class="overview-container30">
                <h3 class="overview-text13 thq-heading-3">
                  <span>Present</span>
                </h3>
                <span class="overview-text14 thq-body-small">
                  <span>Post-Doctoral Researcher</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
