.timeline7-max-width {
  gap: 32px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.timeline7-container01 {
  gap: 32px;
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.timeline7-text {
  font-size: 32px;
  text-align: center;
}
.timeline7-timeline-container {
  flex: 1;
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.timeline7-step1 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.timeline7-container02 {
  flex: 1;
  left: var(--dl-space-space-halfunit);
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline7-container03 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline7-progress0 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline7-container04 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: 48px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline7-text01 {
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
}
.timeline7-container05 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.timeline7-text02 {
  align-self: flex-end;
  text-align: left;
  padding-right: var(--dl-space-space-unit);
}
.timeline7-text03 {
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  font-weight: 600;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.timeline7-icon {
  width: 24px;
  height: 24px;
  align-self: center;
}
.timeline7-text04 {
  font-size: 16px;
  align-self: flex-end;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  padding-bottom: var(--dl-space-space-unit);
}
.timeline7-text05 {
  width: 90%;
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  padding-bottom: 0px;
}
.timeline7-text06 {
  width: 90%;
  font-size: 16px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: var(--dl-space-space-tripleunit);
}
.timeline7-step2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.timeline7-container06 {
  flex: 1;
  left: var(--dl-space-space-halfunit);
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline7-container07 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline7-progress01 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline7-container08 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: 48px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline7-text07 {
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
}
.timeline7-container09 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.timeline7-text08 {
  align-self: flex-end;
  text-align: left;
  padding-right: var(--dl-space-space-unit);
}
.timeline7-text09 {
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  font-weight: 600;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.timeline7-icon2 {
  width: 24px;
  height: 24px;
  align-self: center;
}
.timeline7-text10 {
  font-size: 16px;
  align-self: flex-end;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  padding-bottom: var(--dl-space-space-unit);
}
.timeline7-text11 {
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 0px;
  padding-bottom: 0px;
}
.timeline7-text12 {
  font-size: 16px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 0px;
  padding-bottom: var(--dl-space-space-tripleunit);
}
.timeline7-step3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.timeline7-container10 {
  flex: 1;
  left: var(--dl-space-space-halfunit);
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline7-container11 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline7-progress02 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline7-container12 {
  gap: var(--dl-space-space-unit);
  width: 841px;
  display: flex;
  align-items: flex-start;
  padding-left: 48px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline7-text13 {
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
}
.timeline7-container13 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.timeline7-text14 {
  align-self: flex-end;
  text-align: left;
  padding-right: var(--dl-space-space-unit);
}
.timeline7-text15 {
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  font-weight: 600;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.timeline7-icon4 {
  width: 24px;
  height: 24px;
  align-self: center;
}
.timeline7-text16 {
  font-size: 16px;
  align-self: flex-end;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  padding-bottom: var(--dl-space-space-unit);
}
.timeline7-text17 {
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 0px;
}
.timeline7-text18 {
  font-size: 16px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: var(--dl-space-space-tripleunit);
}
@media(max-width: 991px) {
  .timeline7-max-width {
    gap: 32px;
  }
}
@media(max-width: 767px) {
  .timeline7-max-width {
    padding: 48px;
    flex-direction: column;
  }
  .timeline7-text02 {
    text-align: left;
  }
  .timeline7-text08 {
    text-align: left;
  }
  .timeline7-text14 {
    text-align: left;
  }
}
@media(max-width: 479px) {
  .timeline7-max-width {
    padding: var(--dl-space-space-unit);
  }
}
