.home2-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home2-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  animation-name: none;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.home2-links-container {
  width: var(--dl-size-size-maxcontent);
  height: 38px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home2-link {
  margin-left: var(--dl-space-space-tripleunit);
  margin-right: var(--dl-space-space-tripleunit);
}
.home2-link01 {
  margin-left: var(--dl-space-space-tripleunit);
  margin-right: var(--dl-space-space-tripleunit);
}
.home2-link02 {
  margin-left: var(--dl-space-space-tripleunit);
  margin-right: var(--dl-space-space-tripleunit);
}
.home2-link03 {
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
}
.home2-link04 {
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
}
.home2-link05 {
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
}
.home2-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.home2-icon {
  width: 36px;
  height: 36px;
}
.home2-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.home2-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.home2-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home2-icon2 {
  width: 24px;
  height: 24px;
}
.home2-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home2-link06 {
  margin-bottom: var(--dl-space-space-unit);
}
.home2-link07 {
  margin-bottom: var(--dl-space-space-unit);
}
.home2-link08 {
  margin-bottom: var(--dl-space-space-unit);
}
.home2-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
}
.home2-hero {
  width: 100%;
  height: 353px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  background-color: #f1f1f1;
}
.home2-hero-text-container {
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home2-heading1 {
  color: #040404;
  font-size: 48px;
  font-family: "Playfair Display";
  font-weight: 900;
  line-height: 1.22;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home2-text {
  color: var(--dl-color-gray-black);
  font-size: 18px;
  font-family: Playfair Display;
  font-weight: 600;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-fiveunits);
  letter-spacing: 2;
  text-transform: none;
  text-decoration: none;
}
.home2-image {
  width: 635px;
  height: 321px;
  object-fit: cover;
}
.home2-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.home2-text1 {
  font-family: "Playfair Display";
  font-weight: 600;
}
@media(max-width: 991px) {
  .home2-heading {
    text-align: center;
  }
  .home2-hero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home2-hero-text-container {
    width: 80%;
    align-items: center;
    margin-bottom: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .home2-navbar {
    position: relative;
  }
  .home2-links-container {
    display: none;
  }
  .home2-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .home2-icon {
    fill: var(--dl-color-gray-white);
  }
}
@media(max-width: 479px) {
  .home2-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .home2-hero-text-container {
    width: 100%;
  }
}
