.stats3-container {
  height: 604px;
}
.stats3-max-width {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.stats3-container1 {
  gap: 32px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
.stats3-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.stats3-image {
  width: 80%;
  align-self: flex-start;
  object-fit: cover;
}
@media(max-width: 991px) {
  .stats3-container2 {
    flex-wrap: wrap;
  }
}
@media(max-width: 767px) {
  .stats3-title {
    text-align: center;
  }
  .stats3-container2 {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
  }
}
@media(max-width: 479px) {
  .stats3-title {
    align-self: center;
    text-align: center;
  }
  .stats3-container2 {
    flex-wrap: wrap;
  }
}
